

html,body{
  height:100%;
  overflow:hidden;
}


header{
  .attention{
    .info {
      div{
        a{
          background-color:#14a917;
          i{
            padding-right:15px;
          }
        }
      }
    }
  }
}
